<h3 class="git"><%= link_to "ソースはこちら", "https://bitbucket.org/bomber0522/product_showcase/src/master/", :target=>["_blank"] %> |</h3>
<div class="copyright">Copyright (C) Takaki Nakamura 2019 - 20xx</div>

<%= render "shared/login_form" unless current_member %>

<% if current_member %>
  <ul class="account-menu">
    <%= menu_link_to current_member.name + "さん", :account %>
    <%= menu_link_to "ログアウト", :session,
          method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>
