<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
<div class="login__form">
<%= form_tag :session, id: "login-form" do %>
  <div class="admin__name">
    管理者用
  </div>
  <div>
    <label>ユーザー名</label>
    <input type="text" name="name">
  </div>
  <div>
    <label class="user-pass">パスワード</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" class="login__button" value="ログイン"><br><br>
  </div>
<% end %>
</div>
