<h1>自己紹介</h1>
<div class="self__introduction">
  <p>
    ポートフォリオを初めて作ってみました。<br>
    改善点はまだ沢山あるかと思います。<br>
    フリーランスエンジニアを目指しています。<br>
    まだまだ未熟で様々な書籍やネットの情報を参考にしながら作り上げました。<br>
    ユーザー名: Test<br>
    メールアドレス: test@example.com <br>
    パスワード: password<br>
    で一般ログインできます。
  </p>
</div>
<p>
<table class="attr" border="1">
  <tr>
    <th>使用言語</th>
  </tr>
  <tr>
    <td>Ruby</td>
  </tr>
  <tr>
    <th>フレームワーク</th>
  </tr>
  <tr>
    <td>Ruby on Rails</td>
  </tr>
  <tr>
    <th>Git</th>
  </tr>
  <tr>
    <td>Github/Bitbucket</td>
  </tr>
  <tr>
    <th>サーバー</th>
  </tr>
  <tr>
    <td>Heroku</td>
  </tr>
  <tr>
    <th>クラウドストレージ</th>
  </tr>
  <tr>
    <td>Amazon S3</td>
  </tr>
</table>
</p>

