nav#admin-menubar {
  background-color: #800;
}

.admin__name {
  position: relative;
  margin-left: 10px;
  color: red;
}

.login__button {
  position: relative;
  margin-left: 25px;
  color: black;
}

@media (max-width: 670px) {
  nav#admin-menubar {
    background-color: #800;
  }
  
  .admin__name {
    position: relative;
    margin-left: 10px;
    color: red;
  }
  
  .login__button {
    position: relative;
    margin-left: 25px;
    color: black;
  }
}
