@media screen and (min-width:780px) and ( max-width:812px) {
  .first-image {
    margin-left: 120px;
  }
  .pr-title {
    font-size: 45px;
    color: purple;
    background-color: rgba( 173,255,47 , 0.26 );
    width: 300px;
    font-weight: bold;
    text-align: center;
    margin-left: 250px;
    margin-top: 20px;
  }
  .member-entries {
    font-size:45px;
    color: purple;
    background-color: rgba( 173,255,47 , 0.26 );
    text-align: center;
    width:500px;
    margin-left: 150px;
    margin-top: 20px;
  }
  .entry-body {
    display: block;
    width:600px;
    font-size: 28px;
    margin-left: 92px;
  }
  .entry-title {
    font-size: 40px;
    color: red;
    text-align: center;
    width: 500px;
    margin-left: 160px;
  }
  .entry-content {
    width: 600px;
    font-size: 40px;
    margin-left: 100px;
  }
  .entry-new {
    font-size: 30px;
    display: block;
    margin-top: -20px;
    margin-left: 40px;
  }
  main ul.entry-footer {
    width: 760px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 3px red dashed;
    padding-top: 4px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 40px;
  }
  main ul.entry-footer li {
    display: inline;
  }
  main ul.entry-footer li:not(:last-child):after {
    color: #444;
    content: " | ";
    margin: 0 2px;
  }
  .btn-set {
    margin-left: 90px;
    height: 30px;
  }
  .entry-edit {
    font-size: 25px;
    display: block;
    margin: 10px;
    margin-left: 40px;
  }
  .entry-date {
    text-align: center;
    font-size: 23px;
    background-color: rgba( 255,255,240 , 0.36 );
  }
  .no-entries {
    font-size: 30px;
    width: 600px;
    padding-left: 280px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width:960px) and ( max-width:1280px) {
  .first-image {
    margin-left: 120px;
  }
  .pr-title {
    font-size: 25px;
    color: purple;
    background-color: rgba( 173,255,47 , 0.26 );
    width:100px;
    font-weight: bold;
    text-align: center;
    margin-left: 330px;
    margin-top: -55px;
  }
  .member-entries {
    font-size: 25px;
    color: purple;
    background-color: rgba( 173,255,47 , 0.26 );
    text-align: center;
    width: 250px;
    margin-left: 260px;
    margin-top: -55px;
    margin-bottom: 20px;
  }
  .entry-body {
    display: block;
    width:600px;
    font-size: 15px;
    margin-left: 92px;
  }
  .entry-title {
    font-size: 20px;
    margin-left: 240px;
    color: red;
    text-align: center;
    margin-top: 0px;
  }
  .entry-content {
    width: 550px;
    font-size: 15px;
    margin-left: 105px;
    margin-bottom: 5px;
  }
  .entry-new {
    display: block;
    margin-top: -20px;
    margin-left: 40px;
  }
  main ul.entry-footer {
    width: 780px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px red dashed;
    padding-top: 4px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 17px;
  }
  main ul.entry-footer li {
    display: inline;
  }
  main ul.entry-footer li:not(:last-child):after {
    color: #444;
    content: " | ";
    margin: 0 2px;
  }
  .btn-set {
    margin-left: 90px;
    height: 30px;
  }
  .entry-edit {
    display: block;
    margin: 10px;
    margin-left: 40px;
  }
  .entry-date {
    text-align: center;
    font-size: 5px;
    background-color: rgba( 255,255,240 , 0.36 );
  }
  .no-entries {
    width: 600px;
    padding-left: 320px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width:1281px) {
  .first-image {
    margin-left: 120px;
  }
  .pr-title {
    font-size: 25px;
    color: purple;
    background-color: rgba( 173,255,47 , 0.26 );
    width:100px;
    font-weight: bold;
    text-align: center;
    margin-left: 330px;
    margin-top: -55px;
  }
  .member-entries {
    font-size: 25px;
    color: purple;
    background-color: rgba( 173,255,47 , 0.26 );
    text-align: center;
    width: 250px;
    margin-left: 260px;
    margin-top: -55px;
    margin-bottom: 20px;
  }
  .entry-body {
    display: block;
    width:600px;
    font-size: 15px;
    margin-left: 92px;
  }
  .entry-title {
    font-size: 20px;
    margin-left: 240px;
    color: red;
    text-align: center;
    margin-top: 0px;
  }
  .entry-content {
    width: 550px;
    font-size: 15px;
    margin-left: 105px;
    margin-bottom: 5px;
  }
  .entry-new {
    // font-size: 20px;
    display: block;
    margin-top: -20px;
    margin-left: 40px;
  }
  main ul.entry-footer {
    width: 780px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px red dashed;
    padding-top: 4px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 17px;
  }
  main ul.entry-footer li {
    display: inline;
  }
  main ul.entry-footer li:not(:last-child):after {
    color: #444;
    content: " | ";
    margin: 0 2px;
  }
  .btn-set {
    margin-left: 90px;
    height: 30px;
  }
  .entry-edit {
    display: block;
    margin: 10px;
    margin-left: 40px;
  }
  .entry-date {
    text-align: center;
    font-size: 5px;
    background-color: rgba( 255,255,240 , 0.36 );
  }
  .no-entries {
    width: 600px;
    padding-left: 320px;
    padding-bottom: 100px;
  }
}
