@media screen and (min-width:780px) and ( max-width:812px) {
  .profile-t {
    font-size: 35px;
    color: red;
    // margin-left: 0px;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #88c;
    text-align: center;
    width: 780px;
  }
  .top-table {
    width:500px;
    height: 200px;
    margin-left: 135px;
  }
  .introduce-table {
    width:500px;
    height: 200px;
    margin-left: 135px;
  }
  .prgm-con {
    color :red;
    background-color: rgba( 173,255,47 , 0.54 );
    text-align: center;
    font-size: 30px;
  }
  .pr-lang {
    text-align: center;
    font-size: 30px;
  }
  .top-introduce {
    color :red;
    background-color: rgba( 173,255,47 , 0.54 );
    text-align: center;
    font-size: 30px;
  }
}

@media screen and (min-width:960px) and ( max-width:1280px){
  profile-t {
    font-size: 25px;
    color: red;
    // margin-left: 0px;
    margin-top: -45px;
    padding-bottom: 15px;
    border-bottom: 2px solid #88c;
    text-align: center;
    width: 780px;
  }
  .top-table {
    width: 370px;
    height: 300px;
    margin-left: 207px;
  }
  .introduce-table {
    width: 370px;
    height: 300px;
    margin-left: 207px;
    margin-top: -40px;
  }
  .prgm-con {
    color :red;
    background-color: rgba( 173,255,47 , 0.54 );
    text-align: center;
    font-size: 20px;
  }
  .pr-lang {
    text-align: center;
    font-size: 20px;
  }
  .top-introduce {
    color :red;
    background-color: rgba( 173,255,47 , 0.54 );
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (min-width:1281px) {
  .profile-t {
    font-size: 25px;
    color: red;
    // margin-left: 0px;
    margin-top: -45px;
    padding-bottom: 15px;
    border-bottom: 2px solid #88c;
    text-align: center;
    width: 780px;
  }
  .top-table {
    width: 370px;
    height: 300px;
    margin-left: 207px;
  }
  .introduce-table {
    width: 370px;
    height: 300px;
    margin-left: 207px;
    margin-top: -40px;
  }
  .prgm-con {
    color :red;
    background-color: rgba( 173,255,47 , 0.54 );
    text-align: center;
    font-size: 20px;
  }
  .pr-lang {
    text-align: center;
    font-size: 20px;
  }
  .top-introduce {
    color :red;
    background-color: rgba( 173,255,47 , 0.54 );
    text-align: center;
    font-size: 20px;
  }
}
