@media screen and (min-width:780px) and ( max-width:812px) {
  .entry-table {
    width: 600px;
    height: 600px;
    text-align: center;
    margin-left: 90px;
  }
  table.entry-table th {
    color :red;
    font-size: 25px;
    text-align: center;
    background-color: rgba( 173,255,47 , 0.54 );
 }
  table.entry-table td {
    background-color: rgba( 255,255,240 , 0.36 );
  }
  .text-form {
    height: 30px;
  }
  .area-form {
    height: 160px;
  }
  .btn {
    font-size: 25px;
    height: 45px;
    width: 100px;
  }
  .btn-set {
    margin-bottom: 20px;
  }
  .admin-table {
    width: 700px;
    height: 600px;
    margin-left: 40px;
  }
  .btn-admin {
    margin-left: 40px;
    padding-bottom: 10px;
  }
  .chkbox {
	width: 24px;
	height: 24px;
	-moz-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
  }
  .introduce {
    font-size: 25px;
    padding-left: 5px;
  }
}

@media screen and (min-width:960px) and ( max-width:1280px) {
  .entry-table {
    width: 600px;
    height: 300px;
    text-align: center;
    margin-left: 90px;
  }
  table.entry-table th {
    color :red;
    text-align: center;
    background-color: rgba( 173,255,47 , 0.54 );
  }
  table.entry-table td {
    background-color: rgba( 255,255,240 , 0.36 );
  }
  .text-form {
    height: 20px;
    width: 250px;
  }
  .area-form {
    height: 100px;
    width: 350px;
  }
  .btn {
    font-size: 10px;
    height: 20px;
    width: 50px;
    padding-bottom: 20px;
  }
  .admin-table {
    width: 600px;
    height: 250px;
    margin-left: 40px;
  }
  .btn-admin {
    margin-left: 40px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width:1281px) {
  .entry-table {
    width: 600px;
    height: 300px;
    text-align: center;
    margin-left: 90px;
  }
  table.entry-table th {
    color :red;
    text-align: center;
    background-color: rgba( 173,255,47 , 0.54 );
 }
  table.entry-table td {
    background-color: rgba( 255,255,240 , 0.36 );
  }
  .text-form {
    height: 20px;
    width: 250px;
  }
  .area-form {
    height: 100px;
    width: 350px;
  }
  .btn {
    font-size: 10px;
    height: 20px;
    width: 50px;
    padding-bottom: 20px;
  }
  .admin-table {
    width: 600px;
    height: 250px;
    margin-left: 40px;
  }
  .btn-admin {
    margin-left: 40px;
    padding-bottom: 10px;
  }
  .introduce {
    font-size: 20px;
    padding-left: 10px;
  }
}
