/* 表：一覧表示、詳細表示 */
table.list {
  font-size: 90%;
  width: 100%;
  text-align: center;
  margin: 30px 25%;
}

table.attr, table.attr__account_edit {
  font-size: 90%;
  width: 100%;
  text-align: center;
  margin: 0 25%;
}

table.attr__image {
  font-size: 90%;
  width: 600px;
  height: 100px;
  text-align: center;
  margin: 0 80px;
  table-layout: fixed;
  margin-top: -120px;
}

table.list th, table.attr th,
table.attr__image th, table.attr__account_edit th {
  background-color: rgba( 173,255,47 , 0.54 );
  color: red;
  font-weight: normal;
}

table.list td, table.list th,
table.attr td, table.attr th,
table.attr__account_edit td, table.attr__account_edit th {
  padding: 4px;
}

table.list th {
  text-align: center;
}

table.attr th, table.attr__image th,
table.attr__account_edit th {
  text-align: center;
}

table.list td, table.attr td,
table.attr__image td, table.attr__account_edit td {
  background-color: rgba( 255,255,240 , 0.36 );
}

.self__introduction {
  width: 500px;
  margin: 25px 140px;
  background-color: rgba( 255,255,240 , 0.36 );
  &_discription {
    margin: 0 20px; 
  }
}

.se

.tools {
  margin-top: -100px;
}

@media (max-width: 670px) {
  /* 表：一覧表示、詳細表示 */
  table.list {
    font-size: 90%;
    width: 100%;
    text-align: center;
    margin: 30px auto;
  }

  table.attr {
    font-size: 90%;
    width: 100%;
    text-align: center;
    margin: 30px auto;
    table-layout: fixed;
  }

  table.attr__image {
    font-size: 90%;
    width: 100%;
    text-align: center;
    margin: -100px auto 0;
    table-layout: fixed;
  }

  table.list td, table.attr td,
  table.attr__image td {
    background-color: rgba( 255,255,240 , 0.36 );
  }

  table.list th, table.attr th,
  table.attr__image th {
    background-color: rgba( 173,255,47 , 0.54 );
    color: red;
    font-weight: normal;
    width: 100px;
  }

  table.attr__account_edit {
    font-size: 90%;
    width: 95%;
    text-align: center;
    margin: 30px auto;
    table-layout: fixed;
  }

  table.attr__account_edit th {
    background-color: rgba( 173,255,47 , 0.54 );
    color: red;
    font-weight: normal;
    width: 180px;
    padding: 4px;
    text-align: center;
  }

  table.list td, table.list th,
  table.attr td, table.attr th,
  table.attr__image td, table.attr__image th {
    padding: 4px;
  }

  table.list th {
    text-align: center;
  }

  table.attr th, table.attr__image th {
    text-align: center;
  }

  table.list td, table.attr td {
    background-color: rgba( 255,255,240 , 0.36 );
  }

  .self__introduction {
    width: 100%;
    margin: 10px auto;
    background-color: rgba( 255,255,240 , 0.36 ); 
  }

  .tools {
    margin-top: -100px;
  }

  #entry_title {
    width: 200px;
  }

  #entry_posted_at_1i, #entry_posted_at_2i,
  #entry_posted_at_3i, #entry_posted_at_4i,
  #entry_posted_at_5i {
    font-size: 9px;
  }

  #entry_body {
    width: 240px;
  }

  #entry_status {
    font-size: 10px;
  }

  #member_email {
    width: 170px;
  }

  #account_email {
    width: 170px;
  }
}
