<% @page_title = "会員名簿" %>
<h1 class="member-list"><%= @page_title %></h1>

<% if @members.present? %>
  <table class="member-index" border="1">
    <tr>
      <th class="member-username">ユーザー名</th>
      <th cass="member-fullname">氏名</th>
    </tr>
    <% @members.each do |member| %>
      <tr>
        <td class="member-names"><%= link_to member.name, member %></td>
        <td class="member-names"><%= member.full_name %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>会員情報がありません。</p>
<% end %>
